body {
  background: #03193a;
  font-family: Poppins-Regular;
  padding-top: 30px;
  margin: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
h2.title {
  font-family: Poppins-Medium;
  font-size: 30px;
}
a {
  text-decoration: none;
}
li,
p {
  font-size: 14px;
  line-height: 1.7;
}
.text-white {
  color: #fff;
}
.text-green {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
.text-center {
  text-align: center;
}
.bg-white {
  background-color: #fff;
}
.bg-light {
  background-color: #f1f1f1;
}
.logo-head {
  display: flex;
  align-items: center;
}
.p-0 {
  padding: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.mt-4 {
  margin-top: 20px;
}
.pl-3 {
  padding-left: 15px;
}
.w-75 {
  width: 75%;
  margin: auto;
}
.logo-text h1 {
  font-size: 20px;
}
.logo-img {
  width: 25%;
  height: auto;
}
.dwnld-btn p {
  font-size: 12px;
  margin: 0;
}
.dwnld-btn {
  display: grid;
  justify-items: center;
  height: 100%;
}
.dwnld-btn a {
  background-color: red;
  padding: 12px 30px;
  color: #fff;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  text-align: center;
}
.dwnld-btns a {
  background-color: red;
  padding: 12px 30px;
  color: #fff;
  border-radius: 30px;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  text-align: center;
}
.main-head {
  display: flex;
  justify-content: space-between;
}
.banner {
  padding: 0 0 0;
}
.img1.bimg {
  min-width: 100%;
}
.bimg img {
  min-width: 65%;
  text-align: center;
  height: 580px !important;
}
.slider {
  display: flex;
  text-align: center;
  overflow: hidden;
}
.slider .img1 img {
  text-align: center;
  width: 65%;
  margin: 0 auto;
  height: auto;
}
.number-section {
  padding: 0 0 40px;
}
.crd-icns {
  display: grid;
  justify-content: center;
  grid-template-columns: 15% 15% 15%;
  width: auto;
  justify-items: center;
  gap: 30px 100px;
}
.number-section .crd-icns img {
  width: 60px;
  height: 60px;
}
.csos {
  display: grid;
  justify-items: center;
  gap: 5px;
}
span.bold {
  font-weight: 500;
  font-family: Poppins-SemiBold;
  font-size: 16px;
}
span {
  font-size: 14px;
}
.benefits-section,
.why-section {
  padding: 1px 0 40px;
}
.benefits-section .crd-icns {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  width: auto;
  justify-items: center;
  gap: 30px 100px;
}
.why-section .crd-icns {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  width: auto;
  justify-items: center;
  gap: 30px 60px;
  padding: 30px 0;
}
.why-section .crd-icns .csos {
  padding: 15px 40px;
}
.benefits-section .crd-icns img {
  width: 150px;
  height: 150px;
}
.why-section .crd-icns img {
  width: 60px;
  height: 60px;
}
.screens {
  padding: 1px 0 10px;
}
.bload {
  min-width: 33%;
  height: 100%;
}
.bload img {
  width: 85%;
  height: 657px;
}
.screen_slider {
  display: flex;
  overflow: hidden;
}
.screen_slider img {
  width: 85%;
}
.variant-section {
  padding: 0 0 50px;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
}
.card-section .card {
  padding: 0 15px;
  border-radius: 15px;
}
.card h3.title {
  color: #ecc260;
  font-size: 22px;
  margin: 0;
}
.card p {
  color: #fff;
}
.about-section {
  padding: 0 0 30px;
}
.video {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 40px;
}
.video iframe {
  border-radius: 20px;
}
.about-app,
.newd-section {
  display: flex;
  align-items: center;
}
.abs {
  flex-basis: 50%;
}
.nw-list li {
  padding-bottom: 10px;
}
.newd-section {
  padding-top: 10px;
  align-items: flex-start;
}
.new-section {
  padding-left: 30px;
}
.tags {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0;
}
.tags li {
  color: #fff;
  border: 1px solid #ecc260;
  border-radius: 20px;
  padding: 5px 10px;
}
.testimonials {
  padding: 20px 0;
}
.testimonials h2 {
  margin: 0;
}
.ofh {
  overflow: hidden;
}
.btest {
  min-width: 33%;
}
.clnt_slider {
  display: flex;
}
.test_card {
  margin: 15px 5px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  background: #03193a;
}
.test_cnt {
  color: #fff;
}
.test_bx {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.test_bx img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  margin-top: 19px;
}
.test_cnt .name {
  color: #ecc260;
}
.payments {
  padding-bottom: 30px;
}
.pay_list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.pay_list img {
  width: 60px;
  height: 40px;
}
.btm_icn_list {
  padding: 20px 0 0;
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.btm_icn_list img {
  width: 100px;
  height: auto;
  box-shadow: 0 0 10px #ccc;
}
.icn-list {
  padding: 0;
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
}
.icn-list img {
  width: 30px;
  height: 30px;
}
.cpy-txt {
  font-size: 14px;
  padding: 20px 0;
}
.link_list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.link_list li {
  position: relative;
}
.link_list li:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background: #fff;
  top: 0;
  right: -10px;
  bottom: 0;
  margin: auto 0;
}
.link_list li:last-child:after {
  display: none;
}
.link_list a {
  color: #fff;
}
.test_card.slick-slide {
  height: 180px;
}
.dwnld-btn{
  display: grid;
}
.dwnld-btns.mble {
  display: none;
}
@media (max-width: 767px) {
  body {
    padding-top: 20px;
  }
  .bimg img {
    height: 245px !important;
  }
  p {
    font-size: 12px;
  }
  .container {
    width: 90%;
  }
  .main-head {
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .icon {
    text-align: center;
  }
  .logo-img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
  h1 {
    font-size: 18px;
  }
  h2,
  h2.title {
    font-size: 20px;
  }
  .crd-icns {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    width: auto;
    justify-items: center;
    align-items: start;
    gap: 20px 30px;
  }
  .logo-text p {
    font-size: 13px;
  }
  .banner {
    padding: 0 0 20px;
  }
  .slider {
    padding: 0 0;
  }
  .dwnld-btns.mble p {
    margin-bottom: 5px;
  }
  .dwnld-btns.mble a {
    width: 100%;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 700;
  }
  .dwnld-btn{
    display: none;
  }
  .dwnld-btns.mble {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 0;
    z-index: 99;
    background: #03193a;
    padding-top: 10px;
    border-radius: 0;
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  .benefits-section .crd-icns {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 15px;
  }
  .why-section .crd-icns {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 15px;
  }
  span.bold {
    font-size: 12px;
  }
  span {
    font-size: 12px;
    font-weight: 600;
  }
  .slider .img1 img {
    text-align: center;
    width: 100% !important;
    height: 245px;
    object-fit: contain;
  }
  .benefits-section .crd-icns img {
    width: 100px;
    height: 100px;
  }
  .screen_slider img {
    width: 90%;
    height: 486px;
  }
  .bload {
    min-width: 90%;
  }
  .btest {
    min-width: 90%;
  }
  .card-section {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .video {
    width: 95%;
    padding: 0;
  }
  .pay_list {
    gap: 5px;
  }
  .video iframe {
    height: 210px;
  }
  .video iframe .html5-main-video {
    height: 210px !important;
  }
  .about-app,
  .newd-section {
    flex-direction: column-reverse;
  }
  .tags {
    padding: 0;
    gap: 10px;
  }
  .newd-section {
    padding-top: 0;
  }
  .w-75 {
    width: 100%;
  }
  .pay_list li {
    flex-basis: 20%;
  }
  .btm_icn_list li {
    flex-basis: 28%;
  }
  .number-section {
    padding: 20px 0 25px;
  }
  .benefits-section {
    padding: 20px 0;
  }
  .benefits-section h2 {
    margin: 0;
  }
  .screens,
  .variant-section {
    padding: 0 0 20px;
  }
  .number-section h2 {
    font-size: 20px;
    margin-top: 0;
  }
  .card h3.title {
    font-size: 18px;
  }
  .testimonials {
    padding: 20px 0 20px;
  }
  .link_list {
    gap: 10px;
  }
  .link_list a {
    font-size: 11px;
  }
  .link_list li:after {
    right: -5px;
  }
  .ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto !important;
    left: 0 !important;
    right: 0;
    top: 0 !important;
    background: rgba(0, 0, 0, 0.8);
    position: fixed !important;
  }
  .ui-dialog .ui-dialog-content {
    height: 90% !important;
  }
  .h-100 {
    height: 100%;
  }
}
@media screen and (max-width: 345px) {
  .dwnld-btn {
    position: fixed !important;
  }
  .logo-img {
    width: 70%;
    height: auto;
  }
}
@media (max-width: 996px) and (min-width: 768px) {
  .benefits-section .crd-icns img {
    width: 100px;
    height: 100px;
  }
  .card-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner img {
    height: auto;
  }
}
#close {
  background: red;
  font-family: Poppins-Regular;
  position: absolute;
  color: #fff;
  top: 0;
  right: 38px;
  z-index: 999;
  padding: 10px;
  border: 0;
  font-size: 16px !important;
  cursor: pointer;
}
.ui-dialog .ui-dialog-titlebar {
  display: none;
}
